<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr data-id="contentDo.id"  id="contentOption"+contentDo.id>
    <td>"+contentDo.title+"</td>
    <td><img style="height: 40px;width: 40px" src="http://localhost:8080/upload"+contentDo.titleUrl></td>
    <td>"+contentDo.title+"</td>
    <td>"+contentDo.status+"</td>
    <td>"+contentDo.tags+"</td>
    <td>"+contentDo.allowComment+"</td>
    <td>"+contentDo.created+"</td>
    <td>"+contentDo.created+"</td>
    <td>
        <input class="btn btn-default" type="button" value="修改">
        <input class="btn btn-default" type="button" value="删除">
    </td>
</tr>


<article class="excerpt excerpt-1">
    <input type="hidden" id="blog-id">
    <a class="focus" data-id="+contentDo.cid+" id=contentItem"+contentDo.cid+" href="article.html" title="">
        <img class="thumb" data-original="images/excerpt.jpg" src="images/excerpt.jpg" alt=""></a>
    <header>
        <a class="cat" href="program">blog<i></i></a>
        <h2>
            <a id="blog-title" href="article.html" title="">+contentDo.title+</a>
        </h2>
    </header>
    <p class="meta">
        <time class="time">
            <i id="blog-time" class="glyphicon glyphicon-time">+contentDo.created+</i>
        </time>
    <p class="note">created</p>
</article>
<script>
    var d = "<article class=\"excerpt excerpt-1\">\n" +
        "    <input type=\"hidden\" id=\"blog-id\">\n" +
        "    <a class=\"focus\" data-id=\"+contentDo.cid+\" id=contentItem\"+contentDo.cid+\" href=\"article.html\" title=\"\">\n" +
        "        <img class=\"thumb\" data-original=\"images/excerpt.jpg\" src=\"images/excerpt.jpg\" alt=\"\"></a>\n" +
        "    <header>\n" +
        "        <a class=\"cat\" href=\"program\">blog<i></i></a>\n" +
        "        <h2>\n" +
        "            <a id=\"blog-title\" href=\"article.html\" title=\"\">+contentDo.title+</a>\n" +
        "        </h2>\n" +
        "    </header>\n" +
        "    <p class=\"meta\">\n" +
        "        <time class=\"time\">\n" +
        "            <i id=\"blog-time\" class=\"glyphicon glyphicon-time\">+contentDo.created+</i>\n" +
        "        </time>\n" +
        "    <p class=\"note\">created</p>\n" +
        "</article>";
</script>
</body>
</html>