<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr data-id="contentDo.id"  id="contentOption"+contentDo.id>
    <td>"+contentDo.title+"</td>
    <td><img style="height: 40px;width: 40px" src="http://localhost:8080/upload"+contentDo.titleUrl></td>
    <td>"+contentDo.title+"</td>
    <td>"+contentDo.status+"</td>
    <td>"+contentDo.tags+"</td>
    <td>"+contentDo.allowComment+"</td>
    <td>"+contentDo.created+"</td>
    <td>"+contentDo.created+"</td>
    <td>
        <input class="btn btn-default" type="button" value="修改">
        <input class="btn btn-default" type="button" value="删除">
    </td>
</tr>

</body>
</html>